* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #0f0f10;
  font-family: "Roboto", sans-serif;
  color: #ececec;
}

.btn {
  color: inherit;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  font-family: inherit;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back {
  font-weight: 600;
  background: none;
  border: 1px solid currentColor;
}

.primary {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 2.6rem;
  display: flex;
  justify-content: center;
}

.hoverable {
  transition: all 0.2s;
}

.hoverable:hover,
.hoverable:active {
  transform: scale(1.1);
  cursor: pointer;
}
