* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #0f0f10;
  font-family: "Roboto", sans-serif;
  color: #ececec;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

.primary {
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 2.6rem;
  display: flex;
  justify-content: center;
}

.hoverable {
  transition: all 0.2s;
}

.hoverable:hover,
.hoverable:active {
  transform: scale(1.1);
  cursor: pointer;
}
